:root{
    --font-family: "";
    --font-size-big: 2.7rem;
    --font-size-small: 1.2rem;
    --color: #FF5A00;
}


.Title{
    justify-content: center;
    text-align: center;
    margin-top: 2.5rem;
    display: flex;
}

.Title .TokenAuthentication{
    justify-content: center;
    width: 50%;
    color: #FF5A00;
    font-size: var(--font-size-big);
}


.nav{
    background-color: #FF5A00;
    height: 8rem;
    display: flex;
    justify-content: center;
    margin-top: 1.1rem;
}

.img-kigo{
    display: flex;
    width: 190px;
    background-color: white;
    margin-top: 3rem;
}

.adorno{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    left: -5%;
}
.adorno2{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 30px;
    height: 50px;
    display: flex;
    right: 0%;
}

.adorno3{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 40px;
    height: 30px;
    display: flex;
    left: 6%;
    top: 130px;
}
.adorno4{
    background-color: var(--color);
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    left: 6%;
}

.container_nav {
    justify-content: center;
}

.container{
    justify-content: center;
    display: block;
}

.container .img{
    justify-content: center;
    display: flex;
    margin-top: 15%;
}

.container .img .img-llave{
    width: 300px;
}

.text{
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}

.text .codigo{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    position: absolute;
}


.text .p{
    font-size: 3rem;
}

.buttons {
    justify-content: center;
    position: relative;
    margin-top: 4rem;
}

.buttons .btn {
    position: absolute; /* Los botones se posicionan de forma absoluta */
    left: 50%; /* Los botones estarán centrados horizontalmente */
    transform: translateX(-50%); /* Centra los botones horizontalmente */
    border: none;
}

#btn1 {
    top: 0; /* Posiciona el primer botón en la parte superior del contenedor */
    background-color: #FF5A00;
    width: 70%;
    height: 3.2rem;
    margin: 0;
}

#btn2 {
    top: 70px; /* Ajusta el espacio entre los botones si es necesario */
    background-color: #fefefe;
    width: 70%;
    height: 3.2rem;
    color: black;
    margin: 0;
}


/*Editar datos*/

.Title{
    justify-content: center;
    display: flex;
}

.Title .Edit{
    color: var(--color);
    font-size:  var(--font-size-big);
}

.container_input {
    margin-top: 3rem;
}

.container_input .input{
    width: 350px; /* Ancho del div */
    margin: 0 auto;
}

 .input .form-label{
    font-size: 1.5rem;
    color: var(--color);
 }

 .input .form-control{
    height: 3.5rem;
 }

.buttons_edit{
    justify-content: center;
    position: relative;
    margin-top: 4rem;
}

.buttons_edit .btn{
    position: absolute; /* Los botones se posicionan de forma absoluta */
    left: 50%; /* Los botones estarán centrados horizontalmente */
    transform: translateX(-50%); /* Centra los botones horizontalmente */
    border: none;
}

#btn1-e{
    top: 0; /* Posiciona el primer botón en la parte superior del contenedor */
    background-color: #FF5A00;
    width: 70%;
    height: 3.2rem;
    margin: 0;
}

#btn2-e {
    top: 70px; /* Ajusta el espacio entre los botones si es necesario */
    background-color: #fefefe;
    width: 70%;
    height: 3.2rem;
    color: black;
    margin: 0;
}








